body{
	background-color: #2A3555;
	background-image: url("../img/flou_wallpaper.jpg");
	background-size: 100%;
	margin: 2% 15% ;
	background-repeat: no-repeat;
	font-family: 'Arial', sans-serif;
}

p{
    color: black;
}

ul{
	list-style-type: none;
	margin: 2% 5%;
}

li a {
	font-size: 50px;
	font-variant-caps: small-caps;
	color: white;
    display: inline;
    text-align: center;
    padding: 5% 5%;
    border-right: 1px solid #bbb;
}

.header{
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 100%;
    background-image: url("../img/header_wallpaper.png");
	padding: 20px;
}

.topnav {
    border-radius: 5px 5px;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
}

.content{
	font-size: 25px;
}

article{
	padding: 10px 50px;
	border-radius: 3px;
	margin-left: auto;
  	margin-right: auto;
	border-style: solid;
	background-color: #f2f2f2;
}

html {
overflow-x:scroll;
overflow-y:scroll;
}
