body{
	background-color: #2A3555;
	background-image: url("../img/flou_wallpaper.jpg");
	background-size: 100%;
	margin: 2% 15% ;
	background-repeat: no-repeat;
	font-family: 'Arial', sans-serif;
}

p{
    color: black;
}

ul{
	list-style-type: none;
	margin: 2% 5%;
}

li a {
	font-size: 50px;
	font-variant-caps: small-caps;
	color: white;
    display: inline;
    text-align: center;
    padding: 5% 5%;
    border-right: 1px solid #bbb;
}

.header{
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 100%;
    background-image: url("../img/header_wallpaper.png");
	padding: 20px;
}

.topnav {
    border-radius: 5px 5px;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
}

.content{
    padding: 10px 10px;
    text-align: center;
		font-size: 25px;
    color: red;
}


/* formulaire */
input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 1px;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 1px;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.div_form{
    margin: 15px 5px;
    border-radius: 5px;
    padding: 3px;
}

form{
    padding: 20px 20px;
    width: 60%;
    margin-left: 20%;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.button{
	  position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 30px;
    cursor: pointer;
    border-radius: 3px;
}

.p_form{
    color: black;
    font-variant-caps: all-small-cap;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html {
overflow-x:scroll;
overflow-y:scroll;
}

article{
    padding: 10px 50px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    background-color: #f2f2f2;
}
